/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-adults {
  background-image: url(../img/src/sprites.png);
  background-position: -65px -250px;
  width: 14px;
  height: 16px;
}
.icon-arrow-done {
  background-image: url(../img/src/sprites.png);
  background-position: -333px -122px;
  width: 10px;
  height: 7px;
}
.icon-arrow-left {
  background-image: url(../img/src/sprites.png);
  background-position: -279px -122px;
  width: 34px;
  height: 64px;
}
.icon-arrow-right-brown {
  background-image: url(../img/src/sprites.png);
  background-position: -51px -250px;
  width: 14px;
  height: 24px;
}
.icon-arrow-right {
  background-image: url(../img/src/sprites.png);
  background-position: -279px -58px;
  width: 34px;
  height: 64px;
}
.icon-arrow-up {
  background-image: url(../img/src/sprites.png);
  background-position: -333px -129px;
  width: 9px;
  height: 6px;
}
.icon-bed {
  background-image: url(../img/src/sprites.png);
  background-position: -35px -228px;
  width: 24px;
  height: 22px;
}
.icon-big-email {
  background-image: url(../img/src/sprites.png);
  background-position: 0px 0px;
  width: 279px;
  height: 228px;
}
.icon-big-phone {
  background-image: url(../img/src/sprites.png);
  background-position: -279px 0px;
  width: 64px;
  height: 58px;
}
.icon-children {
  background-image: url(../img/src/sprites.png);
  background-position: -108px -228px;
  width: 16px;
  height: 14px;
}
.icon-date {
  background-image: url(../img/src/sprites.png);
  background-position: -76px -228px;
  width: 16px;
  height: 16px;
}
.icon-drink {
  background-image: url(../img/src/sprites.png);
  background-position: -35px -250px;
  width: 16px;
  height: 24px;
}
.icon-facebook-white {
  background-image: url(../img/src/sprites.png);
  background-position: -313px -154px;
  width: 20px;
  height: 32px;
}
.icon-facebook {
  background-image: url(../img/src/sprites.png);
  background-position: -313px -122px;
  width: 20px;
  height: 32px;
}
.icon-google-white {
  background-image: url(../img/src/sprites.png);
  background-position: -313px -58px;
  width: 26px;
  height: 32px;
}
.icon-google {
  background-image: url(../img/src/sprites.png);
  background-position: -313px -90px;
  width: 26px;
  height: 32px;
}
.icon-instagram-white {
  background-image: url(../img/src/sprites.png);
  background-position: -279px -186px;
  width: 32px;
  height: 32px;
}
.icon-instagram {
  background-image: url(../img/src/sprites.png);
  background-position: -311px -186px;
  width: 32px;
  height: 32px;
}
.icon-location-gmap {
  background-image: url(../img/src/sprites.png);
  background-position: 0px -228px;
  width: 35px;
  height: 50px;
}
.icon-location {
  background-image: url(../img/src/sprites.png);
  background-position: -79px -250px;
  width: 12px;
  height: 16px;
}
.icon-small-bed {
  background-image: url(../img/src/sprites.png);
  background-position: -124px -228px;
  width: 16px;
  height: 14px;
}
.icon-small-calendar {
  background-image: url(../img/src/sprites.png);
  background-position: -92px -228px;
  width: 16px;
  height: 16px;
}
.icon-small-drink {
  background-image: url(../img/src/sprites.png);
  background-position: -91px -250px;
  width: 12px;
  height: 16px;
}
.icon-star {
  background-image: url(../img/src/sprites.png);
  background-position: -59px -228px;
  width: 17px;
  height: 16px;
}
